.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}


.badgeListContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}

li.container {
  height: 150px;
}

.badgeListContainer picture img {
  border-radius: 50%;
  margin-right: 10px;
  height: 60px;
}

.badgeListContainer h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.badgeListContainer p {
  font-size: 12px;
}